div.hFinderIcon1 {
	height:56px;
	width:54px;
	margin:10px auto 3px auto;
}
div.hFinderIcon1 div {
	background: url('http://nhpress.net/folder') no-repeat center;
	width:48px;
	height:48px;
	margin:auto;
}
div.hFinderIconSelected1 {
	background-color: rgb(196,196,196);
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
div.hFinderDirectoryName1 {
	text-align:center;
}
span.hFinderDirectoryNameSelected1 {
	background: rgb(56,117,215);
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	color:white;
	padding: 1px 7px;
}
div.hFinderIcon2 {
	height:56px;
	width:54px;
	margin:10px auto 3px auto;
}
div.hFinderIcon2 div {
	background: url('http://nhpress.net/folder') no-repeat center;
	width:48px;
	height:48px;
	margin:auto;
}
div.hFinderIconSelected2 {
	background-color: rgb(196,196,196);
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
div.hFinderDirectoryName2 {
	text-align:center;
}
span.hFinderDirectoryNameSelected2 {
	background: rgb(56,117,215);
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	color:white;
	padding: 1px 7px;
}
div.hFinderIcon3 {
	height:56px;
	width:54px;
	margin:10px auto 3px auto;
}
div.hFinderIcon3 div {
	background: url('http://nhpress.net/folder') no-repeat center;
	width:48px;
	height:48px;
	margin:auto;
}
div.hFinderIconSelected3 {
	background-color: rgb(196,196,196);
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
div.hFinderDirectoryName3 {
	text-align:center;
}
span.hFinderDirectoryNameSelected3 {
	background: rgb(56,117,215);
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	color:white;
	padding: 1px 7px;
}
div.hFinderIcon4 {
	height:56px;
	width:54px;
	margin:10px auto 3px auto;
}
div.hFinderIcon4 div {
	background: url('http://nhpress.net/folder') no-repeat center;
	width:48px;
	height:48px;
	margin:auto;
}
div.hFinderIconSelected4 {
	background-color: rgb(196,196,196);
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
div.hFinderDirectoryName4 {
	text-align:center;
}
span.hFinderDirectoryNameSelected4 {
	background: rgb(56,117,215);
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	color:white;
	padding: 1px 7px;
}
div.hFinderIcon5 {
	height:56px;
	width:54px;
	margin:10px auto 3px auto;
}
div.hFinderIcon5 div {
	background: url('http://nhpress.net/folder') no-repeat center;
	width:48px;
	height:48px;
	margin:auto;
}
div.hFinderIconSelected5 {
	background-color: rgb(196,196,196);
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
div.hFinderDirectoryName5 {
	text-align:center;
}
span.hFinderDirectoryNameSelected5 {
	background: rgb(56,117,215);
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	color:white;
	padding: 1px 7px;
}
div.hFinderIcon6 {
	height:56px;
	width:54px;
	margin:10px auto 3px auto;
}
div.hFinderIcon6 div {
	background: url('http://nhpress.net/folder') no-repeat center;
	width:48px;
	height:48px;
	margin:auto;
}
div.hFinderIconSelected6 {
	background-color: rgb(196,196,196);
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
div.hFinderDirectoryName6 {
	text-align:center;
}
span.hFinderDirectoryNameSelected6 {
	background: rgb(56,117,215);
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	color:white;
	padding: 1px 7px;
}
div.hFinderIcon7 {
	height:56px;
	width:54px;
	margin:10px auto 3px auto;
}
div.hFinderIcon7 div {
	background: url('http://nhpress.net/folder') no-repeat center;
	width:48px;
	height:48px;
	margin:auto;
}
div.hFinderIconSelected7 {
	background-color: rgb(196,196,196);
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
div.hFinderDirectoryName7 {
	text-align:center;
}
span.hFinderDirectoryNameSelected7 {
	background: rgb(56,117,215);
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	color:white;
	padding: 1px 7px;
}
div.hFinderIcon8 {
	height:56px;
	width:54px;
	margin:10px auto 3px auto;
}
div.hFinderIcon8 div {
	background: url('http://nhpress.net/folder') no-repeat center;
	width:48px;
	height:48px;
	margin:auto;
}
div.hFinderIconSelected8 {
	background-color: rgb(196,196,196);
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
div.hFinderDirectoryName8 {
	text-align:center;
}
span.hFinderDirectoryNameSelected8 {
	background: rgb(56,117,215);
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	color:white;
	padding: 1px 7px;
}
div.hFinderIcon9 {
	height:56px;
	width:54px;
	margin:10px auto 3px auto;
}
div.hFinderIcon9 div {
	background: url('http://nhpress.net/folder') no-repeat center;
	width:48px;
	height:48px;
	margin:auto;
}
div.hFinderIconSelected9 {
	background-color: rgb(196,196,196);
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
div.hFinderDirectoryName9 {
	text-align:center;
}
span.hFinderDirectoryNameSelected9 {
	background: rgb(56,117,215);
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	color:white;
	padding: 1px 7px;
}
div.hFinderIcon10 {
	height:56px;
	width:54px;
	margin:10px auto 3px auto;
}
div.hFinderIcon10 div {
	background: url('http://nhpress.net/folder') no-repeat center;
	width:48px;
	height:48px;
	margin:auto;
}
div.hFinderIconSelected10 {
	background-color: rgb(196,196,196);
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
div.hFinderDirectoryName10 {
	text-align:center;
}
span.hFinderDirectoryNameSelected10 {
	background: rgb(56,117,215);
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	color:white;
	padding: 1px 7px;
}
